<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kurs Vue.js - Przykład 39</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.0/spectre.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.0/spectre-icons.min.css">
    <style>
        .container {
            margin-top: 100px;
            margin-bottom: 100px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

    <div class="container grid-lg">

        <div id="app" v-cloak>

            <h1>Użytkownicy</h1>

            <edu-users :users="users"></edu-users>

            <br>

            <ol>
                <li v-for="user in users">
                    {{ user.fullName }} - {{ user.age }}
                </li>
            </ol>

        </div>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
<script>

    var Event = new Vue({
        methods: {
            remove: function(id) {
                this.$emit('remove', id)
            }
        },
    })

    Vue.component('edu-users', {
        template: `
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Lp.</th>
                        <th>Imię i nazwisko</th>
                        <th>Wiek</th>
                        <th>Edytuj</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
                <tbody>
                    <edu-user
                    v-for="(user, index) in users"
                    :user="user"
                    :index="index"
                    :key="user.id" />
                </tbody>
            </table>
        `,
        props: ['users']
    })

    Vue.component('edu-user', {
        template: `
            <tr>
                <td>{{ index + 1 }}.</td>
                <td>
                    <template v-if="editMode">
                    <div class="form-group">
                        <input type="text" class="form-input" v-model.lazy="user.fullName" />
                    </div>
                    </template>
                    <template v-else>
                        {{ user.fullName }}
                    </template>
                </td>
                <td>
                    <template v-if="editMode">
                    <div class="form-group">
                        <input type="number" class="form-input" v-model.lazy.number="user.age" />
                    </div>
                    </template>
                    <template v-else>
                        {{ user.age }}
                    </template>
                </td>
                <td>
                    <button class="btn btn-primary" @click="editMode = !editMode">
                        <i class="icon" :class="{ 'icon-edit': !editMode, 'icon-check': editMode }"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-error" @click="remove(user.id)">
                        <i class="icon icon-delete"></i>
                    </button>
                </td>
            </tr>
        `,
        data: function() {
            return {
                editMode: false,
            }
        },
        props: ['user', 'index'],
        methods: {
            remove: function(id){
                Event.remove(id)
            },
        }
    });

    new Vue({
        el: "#app",
        data: {
            users: [
                {id: 1, fullName: "Jan Kowalski", age: 32},
                {id: 2, fullName: "Anna Nowak", age: 27},
                {id: 3, fullName: "Tomasz Zielony", age: 40},
                {id: 4, fullName: "Katarzyna Tomczyk", age: 34},
                {id: 5, fullName: "Mariusz Klasa", age: 21}
            ]
        },
        methods: {
            remove: function(id) {
                var index = _.findIndex(this.users, ['id', id]);
                this.users.splice(index, 1)
            }
        },
        created: function() {
            Event.$on('remove', this.remove)
        },
    });

</script>
</body>
</html>